html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	background: #3498db;
}

.form-login {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
}

.form-login .checkbox {
	font-weight: 400;
}

.form-login .form-floating:focus-within {
	z-index: 2;
}

.form-login input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}